
body {
	background-color: #2D2D2D !important;
}

#header {
	position:relative;
	text-align:center;
	top:100px;
	

}

#header h1 {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
	font-size: 7em !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: 500 !important;
	color: white;

}

#header p {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
	font-size: 4.5em !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: 500 !important;
	color: white;
}


#social {
	position: relative;
	text-align: center;
	top:100px;
}


